/* Reset del documento */

:root {
  --mainColor: black;
  --secondColor: #2e94b9;
  --thirdcolor: #dbd8e3;
  /* Tipografía */
  --tipo-principal: sans-serif;
  --tipo-secundaria: Verdana;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  font-family: var(--tipo-principal);
  color: var(--mainColor);
  line-height: 1.6;
  background-color: var(--thirdcolor);
}

/* Estilos */

header {
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: 0rem 0.4375rem 1.4375rem 0rem rgba(179, 172, 179, 1);
  background-color: #ffffff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
}

h1 {
  background-color: var(--mainColor);
  border-radius: 0.25rem;
  color: #ffffff;
  padding: 8px;
  width: 27.5rem;
  text-align: center;
}

.active-option {
  color: var(--secondColor);
}

.eject {
  margin-top: 32px;
  padding: 8px;
  border: 0.125rem solid black;
  border-radius: 0.25rem;
}

.eject:hover {
  background-color: #c1c0b9;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.infoColors {
  background-color: var(--mainColor);
  color: var(--thirdcolor);
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
}

.options {
  display: flex;
  justify-content: space-evenly;
}

.option-colors {
  width: 60%;
}
/*  */
.bgShadow {
  border-radius: 4px;
}

.bgShadow span {
  padding: 0.5rem;
}

.bgShadow:hover {
  cursor: pointer;
  background-color: var(--thirdcolor);
}

.option-systems {
  width: 40%;
}
